"A list of 'useful' atomic properties of different elements. This should be populated from a database (or, where possible, calculation) in the future.

Wavenumber is probably not the best metric of energy, but it's what I have.

Units are SI unless otherwise specified.

[wavenumber]: 1/cm
[lifetime]: ns
"
{:Rb {:name "Rubidium"
      :atomic-number 37
      :isotopes {85 {:abundance 0.7217
                     :states [{:electron-config [[:Kr [5 :s]] [2 :S 1/2]]
                               :lifetime Inf
                               :parity :even
                               :wavenumber 0.0
                               :nuclear-spin 5/2}
                              {:electron-config [[:Kr [5 :p]] [2 :P 1/2]]
                               :lifetime 27.679
                               :parity :odd
                               :wavenumber 12578.9483900
                               :nuclear-spin 5/2}
                              {:electron-config [[:Kr [5 :p]] [2 :P 3/2]]
                               :lifetime 26.2348
                               :parity :odd
                               :wavenumber 12816.54678496
                               :nuclear-spin 5/2}]}

                 87 {:abundance 0.2783
                     :states [{:electron-config [[:Kr [5 :s]] [2 :S 1/2]]
                               :lifetime Inf
                               :parity :even
                               :wavenumber 0.0
                               :nuclear-spin 3/2}
                              {:electron-config [[:Kr [5 :p]] [2 :P 1/2]]
                               :lifetime 27.679
                               :parity :odd
                               :wavenumber 12578.95098147
                               :nuclear-spin 3/2}
                              {:electron-config [[:Kr [5 :p]] [2 :P 3/2]]
                               :lifetime 26.2348
                               :parity :odd
                               :wavenumber 12816.54938993
                               :nuclear-spin 3/2}]}}}}
